.about {
  &__wrapper {
    padding: 100px 0 56px;
    display: flex;
    gap: 56px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &-title {
      font-weight: 600;
      font-size: 72px;
      line-height: 84px;
      color: $pacific-blue;
    }

    &-image {
      width: 100%;
      min-width: 430px;
      display: block;
      object-fit: cover;

      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0) 100%
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.05));
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &-greetings,
    &-subtitle,
    &-item {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $black-russian;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 52px;
      line-height: 90%;
      color: $black-russian;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      padding: 15px 5px;

      /*  СКРОЛЛ */
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;

      /* Эффект плавного скольжения пальцем на смартфонах */
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($bondi-blue, 0.3);
        border-radius: 10px;

        &:hover {
          background-color: $bondi-blue;
        }
      }
    }

    /* КАРТОЧКА НАВЫКА */
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 15px;
      border-radius: 41px;
      flex-shrink: 0;
    }

    &-html {
      background-color: $white;
      padding: 15px;
    }

    &-ts {
      background-color: $white;
    }

    &-react {
      background-color: $turquoise-blue;
      padding: 20px;
    }

    &-node {
      background-color: $yellow-green;
      padding: 20px;
    }

    &-scss {
      color: $persian-red;
      padding: 15px;
      background-color: $white;
    }

    &-icon {
      border-radius: 41px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      width: 110px;
      height: 110px;
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      }
    }

    &-text {
      font-weight: 600;
      font-size: 14px;
      color: $tangaroa;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
}
