.projects {
  &__wrapper {
    max-width: 1030px;
    padding: 73px 0 0;
    margin: 0 auto 70px;
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;

    @include vp-767 {
      padding: 30px 0;
      gap: 25px;
      margin: 0 0 30px;
    }

    &-title {
      font-weight: 600;
      font-size: 72px;
      line-height: 84px;

      @include vp-767 {
        font-size: 24px;
        line-height: 26px;
      }
    }
  }
  &__card {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px 106px;

      @include vp-1023 {
        gap: 20px 40px;
      }

      @include vp-767 {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    &-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 535px;
      gap: 20px;
      border-radius: 20px;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);

      @include vp-1023 {
        min-height: 480px;
        height: auto;
      }

      @include vp-767 {
        min-width: 325px;
        min-height: auto;
      }
    }

    &-inner {
      width: 100%;
      height: 250px;
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 20px 20px 0 0;

      @include vp-1023 {
        height: 200px;
      }

      @include vp-767 {
        height: 180px;
      }
    }

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-wrapper {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 20px;

      @include vp-767 {
        padding: 0 10px;
      }
    }

    &-top {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-grow: 1;

      @include vp-1023 {
        gap: 10px;
      }

      @include vp-767 {
        gap: 10px;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 28px;
      line-height: 26px;
      color: $pacific-blue;

      @include vp-767 {
        font-size: 24px;
        line-height: 22px;
      }
    }

    &-text {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      color: $dim-gray;

      @include vp-767 {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &-stack {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: $black;

      @include vp-1023 {
        font-size: 16px;
        line-height: 20px;
      }

      @include vp-767 {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &-links {
      display: flex;
      gap: 30px;
    }
  }

  &__link {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 0 10px;

    &:hover,
    &:focus-visible,
    &:active {
      .projects__link-text {
        color: rgba($bondi-blue, 0.9);
      }

      .projects__link-text::after {
        width: 100% !important;
      }

      .projects__link-icon {
        color: rgba($bondi-blue, 0.9);
      }
    }

    &-icon {
      width: 24px;
      height: 26px;
      transition: color $transition-500;
    }

    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: $black;
      display: inline-block;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 50%;
        width: 0;
        height: 2px;
        background: $bondi-blue;
        transition:
          color $transition-500,
          width $transition-500,
          background $transition-500;
        transform: translateX(-50%);
      }
    }
  }
}
